# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
env/
venv/
ENV/
VENV/
.vscode/
serviceAccountKey.json
.env
.streamlit/


data/user.json
data/user_data.json
data/result.json
data/data.json
